.title {
	font-size: larger;
}

.style2{
	color: yellow;
}

*{
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 300%;
}

#description{
	text-transform: uppercase;
}

.bg{
	background-color: lightgreen;
}

#border[target=_blank] {
    border-style: ridge;
}


ul {
	list-style-type: none;
	letter-spacing: 3px;
}
